In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('final_test_with_sequencesv2.csv', delimiter=',')
# df1.drop(columns=df1.columns[0], inplace=True)
df1.head()

,Id,running_time,route_distance_km,sequence,is_afternoon,is_evening,is_morning,is_night,morning_peak_time,evening_peak_time,temperature_2m (°C),relativehumidity_2m (%),apparent_temperature (°C),snowfall (cm),dewpoint_2m (°C),cloudcover (%),windspeed_10m (km/h),windgusts_10m (km/h)
0,6198,2022-01-24 03:38:30,4.744,"[4773237812, 4773237811, 2059504508, 205950375...",0,0,0,1,0,0,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2
1,6417,2022-01-24 03:45:51,6.279,"[5020979245, 290008230, 703126946, 290008229, ...",0,0,0,1,0,0,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2
2,7054,2022-01-24 03:52:14,3.934,"[4363705737, 4362696212, 317184766, 4768027647...",0,0,0,1,0,0,-3.3,85,-9.6,0.0,-5.4,100,24.1,39.2
3,9628,2022-01-24 04:03:21,5.959,"[3292022393, 3292022394, 701988912, 27126496, ...",0,0,0,1,0,0,-3.6,84,-10.3,0.0,-6.0,91,25.7,39.2
4,10283,2022-01-24 04:01:12,7.028,"[1920586755, 1920586759, 2350039045, 392526370...",0,0,0,1,0,0,-3.6,84,-10.3,0.0,-6.0,91,25.7,39.2

In [11]:
df2 = pd.read_csv('LIZAFINAL.csv', delimiter=',')
df2.drop(columns=df2.columns[0], inplace=True)
df2.head()

,Id,running_time,route_distance_km,start_cluster_0,start_cluster_1,start_cluster_2,start_cluster_3,start_cluster_4,start_cluster_5,start_cluster_6,...,is_evening,dewpoint_2m (°C),snowfall (cm),is_morning,morning_peak_time,is_night,apparent_temperature (°C),windgusts_10m (km/h),evening_peak_time,temperature_2m (°C)
0,4567450496676323264,2022-01-24 00:32:37,5.533,0.399202,0.058459,0.003582,0.034524,0.002573,0.001302,0.007248,...,0,-5.3,0.0,0,0,1,-10.2,37.1,0,-3.7
1,-1762687449608244695,2022-01-24 00:40:45,4.448,0.659275,0.147918,0.001610,0.036152,0.001545,0.000602,0.003319,...,0,-5.3,0.0,0,0,1,-10.2,37.1,0,-3.7
2,558209096572647780,2022-01-24 00:47:12,2.751,0.328607,0.406109,0.002276,0.055138,0.002426,0.000916,0.004598,...,0,-5.3,0.0,0,0,1,-10.2,37.1,0,-3.7
3,1091960336272216078,2022-01-24 01:03:47,4.435,0.000709,0.000482,0.000037,0.000625,0.000025,0.000008,0.000093,...,0,-5.3,0.0,0,0,1,-9.8,38.5,0,-3.3
4,-1321994599972009663,2022-01-24 01:07:56,2.394,0.584347,0.183294,0.001878,0.045698,0.001795,0.000679,0.003912,...,0,-5.3,0.0,0,0,1,-9.8,38.5,0,-3.3

In [3]:
df3 = pd.read_csv('nodes_final_test_info.csv', delimiter=',')
df3.head()

    node_id        lat        lon  visible  relations_count  ways_count
0  10980417  46.468524  30.738275        1                0           0
1  10980418  46.469605  30.738516        1                0           0
2  10980419  46.469758  30.736733        1                0           0
3  10980421  46.471836  30.730899        1                0           0
4  10980422  46.473256  30.731101        1                0           0

In [4]:
mask = (df1['sequence'] != 'More then 1 next point') & (df1['sequence'] != 'More then 1 prev point') & (df1['sequence'] != 'Zero normal points')
df1[~mask]
# df2 = df2[mask]

Empty DataFrame
Columns: [Id, running_time, route_distance_km, sequence, is_afternoon, is_evening, is_morning, is_night, morning_peak_time, evening_peak_time, temperature_2m (°C), relativehumidity_2m (%), apparent_temperature (°C), snowfall (cm), dewpoint_2m (°C), cloudcover (%), windspeed_10m (km/h), windgusts_10m (km/h)]
Index: []

In [5]:
start_node_lat = df1['sequence'].map(lambda x: df3[df3['node_id'] == int(x.strip('][').split(', ')[0])]['lat'].values[0])
start_node_lon = df1['sequence'].map(lambda x: df3[df3['node_id'] == int(x.strip('][').split(', ')[0])]['lon'].values[0])
end_node_lat = df1['sequence'].map(lambda x: df3[df3['node_id'] == int(x.strip('][').split(', ')[-1])]['lat'].values[0])
end_node_lon = df1['sequence'].map(lambda x: df3[df3['node_id'] == int(x.strip('][').split(', ')[-1])]['lon'].values[0])

In [6]:
df1['start_node_lat'] = start_node_lat
df1['start_node_lon'] = start_node_lon
df1['end_node_lat'] = end_node_lat
df1['end_node_lon'] = end_node_lon

In [7]:
df1.head()

,Id,running_time,route_distance_km,sequence,is_afternoon,is_evening,is_morning,is_night,morning_peak_time,evening_peak_time,...,apparent_temperature (°C),snowfall (cm),dewpoint_2m (°C),cloudcover (%),windspeed_10m (km/h),windgusts_10m (km/h),start_node_lat,start_node_lon,end_node_lat,end_node_lon
0,6198,2022-01-24 03:38:30,4.744,"[4773237812, 4773237811, 2059504508, 205950375...",0,0,0,1,0,0,...,-9.6,0.0,-5.4,100,24.1,39.2,46.429778,30.721539,46.459480,30.739424
1,6417,2022-01-24 03:45:51,6.279,"[5020979245, 290008230, 703126946, 290008229, ...",0,0,0,1,0,0,...,-9.6,0.0,-5.4,100,24.1,39.2,46.477159,30.733953,46.440505,30.758535
2,7054,2022-01-24 03:52:14,3.934,"[4363705737, 4362696212, 317184766, 4768027647...",0,0,0,1,0,0,...,-9.6,0.0,-5.4,100,24.1,39.2,46.484869,30.716282,46.460031,30.721009
3,9628,2022-01-24 04:03:21,5.959,"[3292022393, 3292022394, 701988912, 27126496, ...",0,0,0,1,0,0,...,-10.3,0.0,-6.0,91,25.7,39.2,46.399419,30.723280,46.468524,30.738275
4,10283,2022-01-24 04:01:12,7.028,"[1920586755, 1920586759, 2350039045, 392526370...",0,0,0,1,0,0,...,-10.3,0.0,-6.0,91,25.7,39.2,46.408082,30.705124,46.432172,30.760893

In [8]:
AVG_EARTH_RADIUS = 6371  # in km
def haversine_array(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(np.radians, (lat1, lon1, lat2, lon2))
    lat = lat2 - lat1
    lon = lon2 - lon1
    d = np.sin(lat * 0.5) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(lon * 0.5) ** 2
    h = 2 * AVG_EARTH_RADIUS * np.arcsin(np.sqrt(d))
    return h

def dummy_manhattan_distance(lat1, lon1, lat2, lon2):
    a = haversine_array(lat1, lon1, lat1, lon2)
    b = haversine_array(lat1, lon1, lat2, lon1)
    return a + b

def bearing_array(lat1, lon1, lat2, lon2):
    lng_delta_rad = np.radians(lon2 - lon1)
    lat1, lon1, lat2, lon2 = map(np.radians, (lat1, lon1, lat2, lon2))
    y = np.sin(lng_delta_rad) * np.cos(lat2)
    x = np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(lng_delta_rad)
    return np.degrees(np.arctan2(y, x))

In [9]:
df1.loc[:, 'distance_haversine'] = haversine_array(df1['start_node_lat'].values, df1['start_node_lon'].values, 
                                                  df1['end_node_lat'].values, df1['end_node_lon'].values)
df1.loc[:, 'distance_dummy_manhattan'] = dummy_manhattan_distance(df1['start_node_lat'].values, df1['start_node_lon'].values, 
                                                  df1['end_node_lat'].values, df1['end_node_lon'].values)
df1.loc[:, 'direction'] = bearing_array(df1['start_node_lat'].values, df1['start_node_lon'].values, 
                                                  df1['end_node_lat'].values, df1['end_node_lon'].values)

In [10]:
df1.head()

,Id,running_time,route_distance_km,sequence,is_afternoon,is_evening,is_morning,is_night,morning_peak_time,evening_peak_time,...,cloudcover (%),windspeed_10m (km/h),windgusts_10m (km/h),start_node_lat,start_node_lon,end_node_lat,end_node_lon,distance_haversine,distance_dummy_manhattan,direction
0,6198,2022-01-24 03:38:30,4.744,"[4773237812, 4773237811, 2059504508, 205950375...",0,0,0,1,0,0,...,100,24.1,39.2,46.429778,30.721539,46.459480,30.739424,3.575801,4.673509,22.526888
1,6417,2022-01-24 03:45:51,6.279,"[5020979245, 290008230, 703126946, 290008229, ...",0,0,0,1,0,0,...,100,24.1,39.2,46.477159,30.733953,46.440505,30.758535,4.489608,5.957995,155.194004
2,7054,2022-01-24 03:52:14,3.934,"[4363705737, 4362696212, 317184766, 4768027647...",0,0,0,1,0,0,...,100,24.1,39.2,46.484869,30.716282,46.460031,30.721009,2.785502,3.123779,172.531504
3,9628,2022-01-24 04:03:21,5.959,"[3292022393, 3292022394, 701988912, 27126496, ...",0,0,0,1,0,0,...,91,25.7,39.2,46.399419,30.723280,46.468524,30.738275,7.769541,8.833946,8.499896
4,10283,2022-01-24 04:01:12,7.028,"[1920586755, 1920586759, 2350039045, 392526370...",0,0,0,1,0,0,...,91,25.7,39.2,46.408082,30.705124,46.432172,30.760893,5.044822,6.954542,57.908292

In [27]:
df2.columns

Index(['Id', 'running_time', 'route_distance_km', 'start_cluster_0',
       'start_cluster_1', 'start_cluster_2', 'start_cluster_3',
       'start_cluster_4', 'start_cluster_5', 'start_cluster_6',
       ...
       'morning_peak_time', 'is_night', 'apparent_temperature (°C)',
       'windgusts_10m (km/h)', 'evening_peak_time', 'temperature_2m (°C)',
       'start_node_lat', 'start_node_lon', 'end_node_lat', 'end_node_lon'],
      dtype='object', length=111)

In [11]:
df1.loc[:, 'central_lon'] = (df1['start_node_lon'].values + df1['end_node_lon'].values) / 2
df1.loc[:, 'central_lat'] = (df1['start_node_lat'].values + df1['end_node_lat'].values) / 2

In [14]:
from sklearn.decomposition import PCA
coords = np.vstack((df2[['start_node_lat', 'start_node_lon']].values,
                    df2[['end_node_lat', 'end_node_lon']].values))

pca = PCA().fit(coords)
df2['pickup_pca0'] = pca.transform(df2[['start_node_lat', 'start_node_lon']])[:, 0]
df2['pickup_pca1'] = pca.transform(df2[['start_node_lat', 'start_node_lon']])[:, 1]
df2['dropoff_pca0'] = pca.transform(df2[['end_node_lat', 'end_node_lon']])[:, 0]
df2['dropoff_pca1'] = pca.transform(df2[['end_node_lat', 'end_node_lon']])[:, 1]

/home/linups/.local/lib/python3.10/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but PCA was fitted without feature names
  warnings.warn(
/home/linups/.local/lib/python3.10/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but PCA was fitted without feature names
  warnings.warn(
/home/linups/.local/lib/python3.10/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but PCA was fitted without feature names
  warnings.warn(
/home/linups/.local/lib/python3.10/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but PCA was fitted without feature names
  warnings.warn(

In [15]:
from sklearn.cluster import MiniBatchKMeans

sample_ind = np.random.permutation(len(coords))[:500000]
kmeans = MiniBatchKMeans(n_clusters=100, batch_size=10000).fit(coords[sample_ind])

df2.loc[:, 'start_cluster'] = kmeans.predict(df2[['start_node_lat', 'start_node_lon']])
df2.loc[:, 'end_cluster'] = kmeans.predict(df2[['end_node_lat', 'end_node_lon']])

/home/linups/.local/lib/python3.10/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but MiniBatchKMeans was fitted without feature names
  warnings.warn(
/home/linups/.local/lib/python3.10/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but MiniBatchKMeans was fitted without feature names
  warnings.warn(

In [16]:
start_cluster_ohe = pd.get_dummies(df2.start_cluster, prefix='s', prefix_sep='_')
end_cluster_ohe = pd.get_dummies(df2.end_cluster, prefix='e', prefix_sep='_')

In [17]:
df2.drop(columns=['Id', 'running_time', 'completed_time', 'start_cluster', 'end_cluster'], inplace=True)

In [18]:
df2.columns

Index(['route_distance_km', 'delta_time', 'is_afternoon', 'is_evening',
       'is_morning', 'is_night', 'morning_peak_time', 'evening_peak_time',
       'temperature_2m (°C)', 'relativehumidity_2m (%)',
       'apparent_temperature (°C)', 'snowfall (cm)', 'dewpoint_2m (°C)',
       'cloudcover (%)', 'windspeed_10m (km/h)', 'windgusts_10m (km/h)',
       'start_node_lat', 'start_node_lon', 'end_node_lat', 'end_node_lon',
       'distance_haversine', 'distance_dummy_manhattan', 'direction',
       'central_lon', 'central_lat', 'pickup_pca0', 'pickup_pca1',
       'dropoff_pca0', 'dropoff_pca1'],
      dtype='object')

In [19]:
df2 = df2.join(start_cluster_ohe).join(end_cluster_ohe)
df2.head()

,route_distance_km,delta_time,is_afternoon,is_evening,is_morning,is_night,morning_peak_time,evening_peak_time,temperature_2m (°C),relativehumidity_2m (%),...,e_90,e_91,e_92,e_93,e_94,e_95,e_96,e_97,e_98,e_99
0,3.740,862.0,0,1,0,0,0,1,-3.1,83,...,0,0,0,0,0,0,0,0,0,0
1,3.526,753.0,0,0,1,0,0,0,-4.5,80,...,0,0,0,0,0,0,0,0,0,0
2,5.071,899.0,0,0,1,0,0,0,-2.8,73,...,0,0,0,0,0,0,0,0,0,0
3,2.867,423.0,1,0,0,0,0,0,-2.6,74,...,0,0,0,0,0,0,0,0,0,0
4,3.751,540.0,0,0,1,0,0,0,-3.1,74,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df2.to_csv('final_df.csv', index=False)

In [13]:
df1.head()

,Id,running_time,route_distance_km,sequence,is_afternoon,is_evening,is_morning,is_night,morning_peak_time,evening_peak_time,...,windgusts_10m (km/h),start_node_lat,start_node_lon,end_node_lat,end_node_lon,distance_haversine,distance_dummy_manhattan,direction,central_lon,central_lat
0,6198,2022-01-24 03:38:30,4.744,"[4773237812, 4773237811, 2059504508, 205950375...",0,0,0,1,0,0,...,39.2,46.429778,30.721539,46.459480,30.739424,3.575801,4.673509,22.526888,30.730481,46.444629
1,6417,2022-01-24 03:45:51,6.279,"[5020979245, 290008230, 703126946, 290008229, ...",0,0,0,1,0,0,...,39.2,46.477159,30.733953,46.440505,30.758535,4.489608,5.957995,155.194004,30.746244,46.458832
2,7054,2022-01-24 03:52:14,3.934,"[4363705737, 4362696212, 317184766, 4768027647...",0,0,0,1,0,0,...,39.2,46.484869,30.716282,46.460031,30.721009,2.785502,3.123779,172.531504,30.718645,46.472450
3,9628,2022-01-24 04:03:21,5.959,"[3292022393, 3292022394, 701988912, 27126496, ...",0,0,0,1,0,0,...,39.2,46.399419,30.723280,46.468524,30.738275,7.769541,8.833946,8.499896,30.730777,46.433972
4,10283,2022-01-24 04:01:12,7.028,"[1920586755, 1920586759, 2350039045, 392526370...",0,0,0,1,0,0,...,39.2,46.408082,30.705124,46.432172,30.760893,5.044822,6.954542,57.908292,30.733008,46.420127

In [12]:
df1.to_csv('some_data.csv', index=False)